@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #111319;  
  background-image: url('stardust.png');
}

a {
  color: white;
}

small {
  font-size: 0.8rem;
  color: grey;
}

#waker-bit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1em; 
}

#waker-avi {
  width: 48px;
  border-radius: 50%;
  margin-right: 1em;
}

.server {
  background-color: #fff;    
  display: flex;
  justify-content: space-between;
  padding: 1.25em 2em;
  width: 75vw;
  margin: 0 auto;
}

.server:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.server:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.server h3 {
  font-size: 1.25rem;
}

.odd {
  background-color: #eee;  
}

.App-header {
  margin-top: 1em;
  padding: 0 1em;
  height: auto;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header img {
  width: 48px;
  margin-right: 1em;
}

h2 {
  margin-top: 0;
  color: #eee;
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 1.75em;
}

@media screen and (max-width: 768px) {
  .App-header h1 {
    font-size: 1.5rem;
  }

  .server {
    width: auto;
    border-radius: 0 !important;
  }

  .server h3 {
    font-size: 1rem;
  }
}